


header{

}

body{
    background-image: url(/Rider.Web/riderimages/7.webp) ;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fix;
    background-size: cover;

}