@font-face{
 src: url(fonts/PermanentMarker-Regular.ttf);
font-family: PermanentMarker-Regular;
}

@font-face{
    src: url(fonts/);
   font-family: ;
   }

body{
    /*for margin*/
    margin: 5px;
    border: 3px solid white;
   background-color: black;
   /*this is to make the content always inside the border*/
   display:flow-root;

}
h1 {
    /*for border...*option style: solid, dashed, dotted, double, groove, ridge, inset, outset*/
   /*short syntax: border: 3px solid rgb(216, 17, 140); radius cannot be included*/
    border-style: solid;
    border-width: 3px;
    border-color:rgb(216, 17, 140);
    border-radius: 10px;/* the higher the px the more rounded border*/
   /*for text shadow*/
    text-shadow: 3px 3px 3px red, -3px -3px 3px skyblue; /*horizontal indent, vertical indent, blur.*/
    color:white;
    font-family: verdana;
    
}
/*# pound is for id*/
#song{
    color:white;
}
#singer{
    color:rgb(0, 201, 151);
}
/*dot is for class*/
.ab{
    font-family: PermanentMarker-Regular, verdana, arial;
    /*in font size use example: 1.0em; equivalent to 100% ....for fonts go to fonts.google.com */
    font-size: 40;
    /*in weight choices: bold*/
    font-weight: normal;
    font-style: italic;/*you can change it to normal*/
    color:rgb(216, 17, 140)
}
.cd{
  color:rgb(246, 250, 12);
  border-bottom: 3px solid red;
  border-top: 3px solid red;
  border-left: 3px dotted yellowgreen;
  border-radius: 10px;

}

#box{
    height: 10px;
    width: 1000px;
    background-color: aqua;
 box-shadow: 3px 3px 3px white;
 
}

#box1{

  border: 5px solid yellow;
  width: 100px;
  height: 100px;
  font-size: 20px;
  background-color:#bf17ae;
  /*set margin:auto that always stays in center, left, or right*/
  margin-left: 50px;
  margin-top: 50px;
 
}
#box2{
    background-color:#22c4c9;
    border: 5px solid yellow;
    width: 100px;
    height: 100px;
    font-size: 20px;
    margin-left: 50px;
    margin-top: 50px;
   }

   /*float is use to fit text or paragraph in a picture*/
#a{

    float: left;
    margin-right: 20px;
}

#overf{

border: 2px solid;
height: 75px;
/*overflow is use to hide overlapsing text in a box...these are the options: visible, hidden, clip, scroll, auto*/ 
overflow: scroll;
margin: 5px;
/*this is use to control how much text you want to overflow*/
overflow-clip-margin: 13px;

}